<ion-view title="Lupa Sandi">
   <ion-content>
      <!-- Content -->
      <div class="main">
         <div class="shop_top">
            <div class="container">
               <div class="col-md-6">
                  <div class="login-page">
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="login-title">
                     <div id="loginbox" class="loginbox">
                        <form action="" method="post" name="login" id="login-form">
                           <fieldset class="input">
                              <p style="margin-bottom: 10px;">Lupa Kata Sandi?</p>
                              <div class="input-group">
                                 <input type="email" class="form-control input-login" name="user" placeholder="Email" required style="padding: 10px;" />
                                 <span class="input-group-addon">
                                 <i class="fa fa-envelope-o"></i>
                                 </span>
                              </div>
                              <div class="remember">
                                 <input type="submit" name="submit" class="btn btn-default" value="KIRIM">
                                 <div class="clear"></div>
                              </div>
                           </fieldset>
                        </form>
                     </div>
                     </div>
                     <div class="col already-register">
                        <p>Sudah terdaftar?<a class="back-login" ui-sref="app.login"> Silahkan login.</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Content -->
      <!-- Footer -->
      <footer></footer>
      <!-- End Footer -->
   </ion-content>
</ion-view>