<ion-view title="Kata sandi telah direset">
    <ion-content>
    	
    	<!-- Content -->
        <div class="main">
            <div class="shop_top">

            <h3 class="judul-tengah text-center">KATA SANDI<br/>TELAH DIRESET</h1>

                <div class="container">

                    <i style="font-style: italic;">SILAHKAN CEK EMAIL ANDA UNTUK MERESET KATA SANDI</i>
                    
                </div>
            </div>
        </div>
        <!-- End Content -->

    </ion-content>
</ion-view>