<ion-view ng-controller="praPendaftaranCtrl"  style="background :#f8f8f8;">
   <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
         <div class="row">
            <div class="col center">
               <img class="prapendaftaran" src="img/produk.png">
            </div>
         </div>
         <div class="row">
            <div class="col center">
            </div>
         </div>
      </ion-slide>
      <ion-slide>
         <div class="row">
            <div class="col center">
               <img class="prapendaftaran" src="img/detail.produk.png">
            </div>
         </div>
      </ion-slide>
      <ion-slide>
         <div class="row">
            <div class="col center">
               <img class="prapendaftaran" src="img/kontak.png">
            </div>
         </div>
      </ion-slide>
      <ion-slide>
         <div class="row">
            <div class="col center">
               <img class="prapendaftaran" src="img/detail.kontak.png">
            </div>
         </div>
         <div class="row">
         </div>
      </ion-slide>
      <ion-slide>
         <div class="row">
            <div class="col center" style="margin-top:50%;">
               <p class="title-prapendaftaran">Mari memulai Penjualan anda</p>
               <p class="title-prapendaftaran"> dengan mengklik</p>
            </div>
         </div>
         <div class="row">
            <div class="col center">
               <button class="btn btn-default" ng-click="startApp()">Mulai</button>
            </div>
         </div>
      </ion-slide>
   </ion-slide-box>
</ion-view>
