<ion-view title="Terima kasih telah mendaftar">
    <ion-content>
    	
    	<!-- Content -->
        <div class="main">
            <div class="shop_top">

            <h3 class="judul-tengah text-center">TERIMA KASIH <br/>TELAH MENDAFTAR</h1>

                <div class="container">

                    <i style="font-style: italic;">SILAHKAN VALIDASI DI EMAIL YANG TELAH DIMASUKKAN</i>
                    
                </div>
            </div>
        </div>
        <!-- End Content -->

    </ion-content>
</ion-view>