<ion-view ng-controller="bantuanCtrl" title="Bantuan">
   <ion-content>
      <!-- Content -->
      <div class="main">
         <div class="container">
            <div class="col-md-6">
               <div class="login-page">
                  <div class="clear"></div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="login-title">
                  <div id="loginbox" class="loginbox" style="margin-top: 30px;">
                     <p>Cara Daftar</p>
                     <div class="check-element animate-hide help-content">	
                        Dari index pertama kali pilih daftar baru,
                        setelah itu isi semua input sesuai dengan data anda
                        apabila telah selesai daftar berhasil, maka isi nama bisnis
                        serta logo bisnis anda, pilih simpan dan langkah terakhir,
                        silakan check email anda untuk memverifikasikan email.
                     </div>
                     <p>Lupa Sandi</p>
                     <div class="check-element animate-hide help-content">	
                        Jika anda lupa Sandi anda pada index pertama
                        pilih lupa Sandi. masukkan email anda tekan kirim,
                        dan silakan check email untuk memverifikasi ulang sandi anda.
                     </div>
                     <p>Cara Menggunakan</p>
                     <div class="check-element animate-hide help-content">	
                        Nesia POS (Point Of Sale) sebuah aplikasi layanan
                        untuk mempermudah anda dalam melakukan transaksi
                        dengan cukup menggunakan 1 smartphone dalam 
                        gengamaan anda
                     </div>
                     <p>Lainnya</p>
                     <div class="check-element animate-hide help-content">
                        Untuk mengaktifkan fitur gudang silakan menghubungin kami 
                        Tim development Nesiagame.
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col already-register">
                  <p>Sudah terdaftar?<a class="back-login" ui-sref="app.login"> Silahkan login.</a></p>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- End Content -->
   </ion-content>
</ion-view>
