<ion-view ng-controller="splashCtrl">
<div class="emp">
	<div class="splash">
		<div class="row">
			<div class="col imagesplash">
				<img src="img/nesiapos.png">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="tentang-splash">Solutions for your business</p>
			</div>
		</div>
	</div>
	<div class="bar bar-footer bar-clear splash-footer" style="text-align: center; font-size:10pt" >
		<div class="title tentang-splash">© 2016 Nesiagame. All rights reserved</div>
		<div class="title title-again tentang-splash">Versi {{version}}</div>

	</div>
</ion-view>
<div class="toast hide hide-important">
    <div class="toast-content">
        Content
    </div>
</div>