<ion-view title="Bantuan" ng-controller="bantuanCtrl">
	<ion-content>

	    	<!-- Content -->
	    	<div class="main">
	      		<div class="shop_top">
					<div class="container">

						<div class="col-md-6">
					 		<div class="login-page">
						 		<div class="clear"></div>
					  		</div>
						</div>

						<div class="col-md-6">
					 		<div class="login-title">
								<div id="loginbox" class="loginbox" style="margin-top: 30px;">

			  						<a ng-click="tampil()">Cara Daftar</a><br>

				  				<div class="check-element animate-hide" ng-show="toggle" style="margin-left:10px; font-size:12px;">	
							    		Dari menu utama pilih daftar baru lalu 
				  						isi daftar yang diperlukan dan pilih tombol daftar 
				  						lalu konfirmasi pendaftaran melalui email anda
						 		</div>

		  							<a ng-click="tampil1()">Lupa Password</a><br>
		  					 <div class="check-element animate-hide" ng-show="toggle1" style="margin-left:10px; font-size:12px;">	
				  						Dari menu utama pilih daftar baru lalu 
				  						isi daftar yang diperlukan dan pilih tombol daftar lalu 
				  						konfirmasi pendaftaran melalui email anda
				  					</div>					
				  

				  					<a ng-click="tampil2()">Cara Menggunakan</a><br>
				  					 <div class="check-element animate-hide" ng-show="toggle2" style="margin-left:10px; font-size:12px;">	
				  						Dari menu utama pilih daftar baru lalu 
				  						isi daftar yang diperlukan dan pilih tombol daftar lalu 
				  						konfirmasi pendaftaran melalui email anda
				  					</div>		
				  					
				  					<a ng-click="tampil3()">DLL</a><br>
				  					</div>
	              				 	<div class="check-element animate-hide" ng-show="toggle3" style="margin-left:10px; font-size:12px;">
	              						Dari menu utama pilih daftar baru lalu isi daftar 
	              						yang diperlukan dan pilih tombol daftar lalu 
	              						konfirmasi pendaftaran melalui email anda
	              					</div>
<!-- 	              					<div class="panah">
			   							<a ui-sref="app.login"><img src="img/panah.png"></a>
			   		   				</div> -->
			   		   				
					  			</div>
							</div>
				  		</div>
			  		</div>
	  			</div>
		  	</div>
	    	<!-- End Content -->

	        <script src="lib/ionic/js/jquery.spoiler.min.js"></script>
			<script>
			//    $(".spoiler").spoiler();
			</script>

	</ion-content>
</ion-view>